:root {
    --logos-index-size: 32px;
}

#client-logo {
    width: var(--logos-index-size);
}

#kapper-logo-span {
    font-size: var(--logos-index-size);
    margin-top: 10px;
}

#card-stampCard .stampPlace {    
    height: 50px;
}
#card-stampCard .stampPlace .fas, .far {
    font-size: 200%;
    margin-top: 5px;
}

@media (min-width: 768px) {
    #loginForm {
        border-left:1px solid #ccc;
        height:160px
    }

    #social-logins .row {
        float: right;
    }
}

@media (max-width: 768px) {
    #social-logins .row {
        justify-content: center;
    }
    .social-loggin-button {
        text-align: center;
    }
}